body {
  background: radial-gradient(#95bbcf, #01579b);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 50px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease-in-out;
}

.badge {
  background-color: rgb(46, 163, 91);
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  top: -15px;
  right: -10px;
  padding: 5px 10px;
  color: white;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn:active {
  box-shadow: none;
}
