body{
    margin: 0;
    padding: 0;
}

.centre-div{
    width: 150px;
    margin: 0 auto;
}

input {
    accent-color: rgb(49, 234, 163);
    /* height: 11px;
    width: 11px; */
}
progress {
    accent-color: rgb(49, 234, 163);
}